@import "tailwindcss";

@layer components {
  .input-style {
    @apply w-full outline-none border-2 border-blue-300 rounded p-2;
  }

  .todo-style {
    @apply w-full flex font-semibold gap-3 justify-between items-center text-xl font-semibold p-3 bg-white rounded-xl capitalize;
  }

  .developer-style {
    @apply bg-green-500 px-2 py-1 rounded-full text-xs;
  }

  .job-style {
    @apply bg-blue-500 px-2 py-1 rounded-full text-xs;
  }

  .remove-btn {
    @apply bg-red-600 text-white font-semibold text-sm cursor-pointer px-2 py-1 rounded self-end;
  }
}